<div class="container-fluid" id="login-header">
    <div class="col-4">
      <a href="/">

            <h1>Tech Blog</h1>
      </a>
    </div>
</div>
<nav class="navbar justify-content-end">
    <ul class="nav justify-content-end">
        <li class="nav-item dropdown">
            <a class="nav-link" href="/dashboard"role="button" aria-expanded="false">
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active logout" href="/login">Logout</a>
        </li>
    </ul>
</nav>

<div class="container-fluid justify-content-center welcome text-center">
    <h2> Welcome to the Tech Blog</h2>
    <p> Share or post any tech related topics! </p>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
      <h5 class="card-title">{{userdata.username}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<script src="/js/home.js"></script>
