<div class="container-fluid" id="login-header">
    <div class="col-4">
      <a href="/">

            <h1>Tech Blog</h1>
      </a>
    </div>
</div>
<nav class="navbar justify-content-end navbar-dark bg-dark">
    <!-- Navbar content -->
    <ul class="nav justify-content-end">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#"role="button" aria-expanded="false">
                DASHBOARD
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active logout" href="/login">LOGOUT</a>
        </li>
    </ul>
</nav>

<div class="container-fluid justify-content-center text-center welcome">
    <h2> Welcome to the Tech Blog</h2>
    <p> Share or post any tech related topics! </p>
</div>

{{!-- TODO: --}}
<script src="/js/home.js"></script>
